body {
    background-image : url(https://images.pexels.com/photos/8395586/pexels-photo-8395586.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    filter : blur(10px)
}

form {
    background-color: red;
    opacity:0.78;
}
